---
import SocialLink from "../social/SocialLink.astro";
import UpworkImage from "@/assets/icons/up-work.svg";
import GitHubImage from "@/assets/icons/github.svg";
import LinkedinImage from "@/assets/icons/linkedin.svg";
const socialLinks = [
  {
    href: "https://www.upwork.com/freelancers/farhaninfo?mp_source=share",
    icon: UpworkImage,
    label: "Upwork",
  },
  {
    href: "https://github.com/dullfarhan",
    icon: GitHubImage,
    label: "GitHub",
  },
  {
    href: "http://www.linkedin.com/in/dullfarhan",
    icon: LinkedinImage,
    label: "LinkedIn",
  },
];
---

<div class="flex gap-[30px] sm:gap-[36px] items-center">
  {
    socialLinks.map((link) => {
      return (
        <SocialLink
          href={link.href}
          icon={link.icon}
          label={link.label}
          linkClass="flex items-center space-x-2"
          iconClass="w-6 h-6"
          labelClass="hidden md:block text-[0.9rem]"
        />
      );
    })
  }
</div>
