---
import Divider from "../common/Divider.astro";
import Header from './Header.astro'
---
<Divider />
<nav class="w-full px-[0.5rem] sm:px-[1rem] md:px-[1.5rem] lg:px-[2rem] py-[0.2rem] m-3">
  <div class="  flex justify-between items-center">
    <a href="/" class="flex items-center space-x-2">
      <img src="/assets/logos/logo.svg" alt="Logo" class="h-6 sm:w-5"/>
      <span class="text-[12px] sm:text-[14px]">Code by Farhan</span>
    </a>
    <Header />
  </div>
</nav>
<Divider />
