---
import Divider from "../common/Divider.astro";
import Header from './Header.astro'
---
<Divider />
<nav class="w-full px-[0.5rem] md:px-[2rem] lg:px-[2rem] py-[0.2rem] m-3">
  <div class="  flex justify-between items-center">
    <a href="/" class="flex items-center space-x-2 text-textPrimary">
      <img src="/assets/logos/logo.svg" alt="Logo" class="h-7 w-6 sm:h-6 sm:w-5"/>
      <span class="text-[0.8rem]">Code by Farhan</span>
    </a>
    <Header />
  </div>
</nav>
<Divider />
