---
import Divider from "../common/Divider.astro";
import ProfileCard from "../common/ProfileCard.astro";
import VideoCard from "../common/VideoCard.astro";
---

<section class="flex justify-center sm:inline-flex">
  <div
    class="flex flex-col-reverse sm:flex-row justify-center  bg-surface rounded-[20px] gap-[24px] p-[19px] sm:p-[24px]"
  >
    <ProfileCard />
    <VideoCard />
  </div>
</section>

<Divider />
