---
import HeroTitle from "../common/HeroTitle.astro";
import HeroIcons from "../common/HeroIcons.astro";
import HeroCTA from "../common/HeroCTA.astro";
import Divider from "../common/Divider.astro";
---

<header class="flex justify-center ">
  <div class="flex justify-center items-center flex-col gap-[24px] sm:gap-[48px] ">
    <HeroTitle />
    <HeroIcons />
    <HeroCTA />
  </div>
</header>

<Divider />
