---
// components/sections/SelectedProjects.astro
import { Image } from "astro:assets";
import FullFrame1 from "@/assets/images/FullFrame.png";
import FullFrame2 from "@/assets/images/FullFrame-2.png";
import DevelMo1 from "@/assets/images/DevelMo.png";
import DevelMo2 from "@/assets/images/DevelMo-2.png";
import Walqalum1 from "@/assets/images/Walqalum.png";
import Walqalum2 from "@/assets/images/Walqalum-2.png";
import AIChreades1 from "@/assets/images/AI-Chreades.png";
import AIChreades2 from "@/assets/images/AI-Chreades-2.png";
import DrawLines from "@/assets/icons/drawingLines.svg";
import ProjectCard from "../common/ProjectCard.astro";
import Divider from "../common/Divider.astro";

const projects = [
  {
    title: "FullFrame",
    description:
      "A secure AI-powered tool that generates fast summaries of scripts and books, enhanced with deep character description and visualized headshots/scenes.",
    image1: FullFrame1,
    image2: FullFrame2,
    link: "https://fullfr.me/",
    tags: ["AI Summarization", "Secure", "Full-Stack"],
  },
  {
    title: "DevelMo - CrowdIQ",
    description:
      "CrowdIQ turns standard cameras into smart AI analytics tools for real-time people counting, heatmaps, and demographics insights.",
    image1: DevelMo1,
    image2: DevelMo2,
    link: "https://develmo.com/our-products/crowdiq/",
    tags: ["Comp. Vision", "YOLO11x", "Analytics"],
  },
  {
    title: "Walqalum",
    description:
      "A multi-tenant education safety platform connecting schools, parents, and transport systems with real-time alerts and dashboards.",
    image1: Walqalum1,
    image2: Walqalum2,
    link: "https://walqalum.com/",
    tags: ["SaaS",  "Real-time", "Multi-Tenant"],
  },
  {
    title: "AI Chreade",
    description:
      "An Azure-powered image generation tool using DALL·E to create visuals from text prompts, supporting advanced prompt engineering.",
    image1: AIChreades1,
    image2: AIChreades2,
    tags: [ "Azure", "Image Gene", "Prompt Engg."],
  },
];
---

<section class="flex flex-col gap-[20px] sm:gap-[32px]">
  <div
    class="flex flex-col justify-center items-center gap-[4px] sm:gap-[13px]"
  >
    <h2 class="relative">
      <span class="inline-block">
        Selected
        <Image
          src={DrawLines}
          alt="underline"
          class="-translate-x-2 sm:-translate-x-5 sm:translate-y-[0.2rem] w-[100px] h-[15px] sm:w-[207px]"
        />
      </span>
      <span>Projects</span>
    </h2>

    <h5 class="text-center w-[256px] sm:w-auto">
      Every dev has their origin story — here are mine.
    </h5>
  </div>

  <div class="flex flex-wrap justify-center gap-[20px] sm:gap-[24px]">
    {
      projects.map((project, index) => (
        <ProjectCard index={index} {...project} />
      ))
    }
  </div>
</section>
<Divider />
