---
import Layout from "../layouts/BaseLayout.astro";
import HeroSection from "../components/sections/HeroSection.astro";
import ProjectSection from "../components/sections/ProjectSection.astro"
import SuperPower from "../components/sections/SuperPower.astro"
---

<Layout>
  <main>
    <HeroSection />
    <ProjectSection/>
    <SuperPower/>
  </main>
</Layout>
