---
import Layout from "../layouts/BaseLayout.astro";
import HeroSection from "../components/sections/HeroSection.astro";
import ProjectSection from "../components/sections/ProjectSection.astro";
import SuperPower from "../components/sections/SuperPower.astro";
import AboutSection from "../components/sections/AboutSection.astro";
// import LoveLetterSection from "../components/sections/LoverLetterSection.astro";
import ContactCTASection from "../components/sections/ContactCTASection.astro";
---

<Layout>
  <main class="flex flex-col gap-[20px] sm:gap-[40px] pt-[20px] sm:pt-[48px]">
    <HeroSection />
    <ProjectSection />
    <SuperPower />
    <AboutSection />
    {/* Love letters hidden during rebrand */}
    <ContactCTASection />
  </main>
</Layout>
