<a
  href="mailto:muhammad@example.com"
  class="px-[12px] py-[8px] sm:px-[16px] sm:py-[12px] rounded-[12px] bg-tertiaryBg w-[146px] sm:w-[171px] flex justify-center gap-[6px] sm:gap-[10px]"
>
  <span class="text-[14px] sm:text-[16px] font-medium">Let’s Connect</span>
  <img src="/assets/icons/Arrow-up-right.svg" alt="arrow" class="size-[24px]" />
</a>
