<div class="flex justify-center items-center flex-col gap-[20px]">
  <h6
    class="bg-surface py-[6px] px-[3px] rounded-[20px] font-normal sm:font-medium text-[10px] sm:text-[14px] md:text-[18px] sm:leading-[34px] leading-[100%] sm:px-[16px] sm:py-[5px] text-center"
  >
    <span class="gradient-text-vertical px-1 sm:px-0">
      Full-Stack Dev, DevOps & Cloud, AI & ML, Team Leadership
    </span>
  </h6>
  <h1 class="font-semibold gradient-text-vertical leading-[100%] sm:leading-[55px] md:leading-[110px] mx-0 sm:mx-2">
    Code that Powers <br class="hidden sm:block md:hidden lg:block">Systems that Last.
  </h1>
  <p
    class="font-normal text-center max-w-[282px] sm:max-w-[646px] leading-[1.15] text-[11px] sm:text-[18px]"
  >
    Crafting seamless web applications with robust backends, intuitive frontends
    and scalable cloud solutions.
  </p>
</div>
