<div class="flex justify-center items-center flex-col my-1 sm:my-4">
  <h6
    class="bg-surface text-center w-fit py-[6px] px-[3px] my-1 sm:my-3 rounded-3xl font-medium text-[8px] sm:text-[10px] md:text-[14px] lg:text-[18px] sm:font-normal leading-snug sm:px-[16px] md:py-[5px] md:px-[16px]"
  >
    <span class="gradient-text-vertical block text-wrap">
      Full-Stack Dev, DevOps & Cloud, AI & ML, Team Leadership
    </span>
  </h6>
  <h1 class="font-semibold mt-1 gradient-text-vertical my-1 sm:my-3">
    Code that Powers<span class="lg:inline hidden "
      >. Systems that Last.</span
    ><span class="inline lg:hidden"> Systems that Last.</span>
  </h1>
  <p
    class="font-normal mt-4 max-w-[282px] sm:max-w-[646px] text-center leading-tight text-[11px] sm:text-[18px] my-0 sm:my-3"
  >
    Crafting seamless web applications with robust backends, intuitive frontends
    and scalable cloud solutions.
  </p>
</div>
