<div class="max-w-[280px] sm:max-w-[510px] h-[354px] sm:h-[528px] relative">
  <video
    src="https://pub-6342c9376d514bcd8e040d62520d1285.r2.dev/Experienced%20Full-Stack%20Developer%20_%20Backend%2C%20Frontend%20%26%20DevOps%20Solutions.mp4"
    class="w-full h-full object-cover rounded-[16px] sm:rounded-[20px]"
    autoplay
    muted
    playsinline></video>

  <!-- Play Button -->
  <button
    class="p-[2px] sm:p-[6px] md:p-[12px] bg-tertiaryBg rounded-[35.5px] flex justify-center absolute bottom-[16.5px] right-[16.5px] sm:bottom-[24px] sm:right-[24px]"
  >
    <img src="/assets/icons/play_arrow_filled.svg" alt="play" />
  </button>

  <!-- Volume Button -->
  <button>
    <img
      src="/assets/icons/volume-slash.svg"
      alt="volume"
      class="absolute top-[314.39px] sm:top-[480px] left-[16px] sm:left-[24px]"
    />
  </button>
</div>
