---
import "../styles/global.css";
import Navbar from "../components/layout/Navbar.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Farhan Portfolio</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="relative mx-[100px] dashed-left-right-border">

    <div class="content">
      <Navbar />
      <slot />
    </div>
  </body>
</html>
